

<nav tuiTabBar class="navbar navbar-mobile">
    <a
        icon="/assets/icon/Home.svg"
        class="home-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Главная 
    </a>
    <a
        icon="/assets/icon/delivery.svg"
        class="delivery-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/delivery"
    >
        Доставки
    </a>
    <a
        icon="/assets/icon/cart.svg"
        class="cart-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/cart"
    >
        Корзина
    </a>
    <a
        icon="/assets/icon/Account.svg"

        class="profile-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/profile"
    >
        Профиль
    </a>
</nav>

<nav class="navbar-pc">
  <div class="navbar__logo">
    <a href="#">WildBobr</a> <!-- Можно заменить на логотип -->
  </div>

  <div class="navbar__search">
    <input type="text" placeholder="Поиск товаров..." />
  </div>

  <ul class="navbar__menu">
    <a class="nav-pc-link" href="delivery"><span class="nav--pc_icon nav--pc_icon__delivery"></span> Доставки</a>
        <a class="nav-pc-link" href="cart"><span class="nav--pc_icon nav--pc_icon__cart"></span> Корзина</a>
    <a class="nav-pc-link" href="profile"><span class="nav--pc_icon nav--pc_icon__profile"></span> Профиль</a>
  </ul>
</nav>





