

<nav tuiTabBar class="navbar navbar-mobile">
    <a
        icon="/assets/icon/Home.svg"
        class="home-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Главная 
    </a>
    <a
        icon="/assets/icon/del3.svg"
        class="delivery-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/delivery"
    >
        Доставки
    </a>
    <a
        icon="/assets/icon/cart.svg"
        class="cart-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/cart"
    >
        Корзина
    </a>
    <a
        icon="/assets/icon/Account.svg"

        class="profile-icon"
        routerLinkActive
        tuiTabBarItem
        routerLink="/profile"
    >
        Профиль
    </a>
</nav>

<nav class="navbar-pc">
  <div class="navbar__logo">
    <a href="#">WildBobr</a> <!-- Можно заменить на логотип -->
  </div>


  <div class="container">
        <input checked="" class="checkbox" type="checkbox"> 
        <div class="mainbox">
            <div class="iconContainer">
                <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
            </div>
         <input class="search_input" placeholder="Найти на WildBobr" type="text">
        </div>
    </div>

  <ul class="navbar__menu">
    <a class="nav-pc-link" href="delivery"><span class="nav--pc_icon nav--pc_icon__delivery"></span> Доставки</a>
        <a class="nav-pc-link" href="cart"><span class="nav--pc_icon nav--pc_icon__cart"></span> Корзина</a>
    <a class="nav-pc-link" href="profile"><span class="nav--pc_icon nav--pc_icon__profile"></span> Профиль</a>
  </ul>
</nav>





