
    @navbar-height: 60px;
    @navbar-mobile-height: 50px;
    @profile-icon: url('/assets/icon/profile.svg');
    @home-icon: url('/assets/icon/home.svg');
    @delivery-icon: url('/assets/icon/delivery.svg');
    @cart-icon: url('/assets/icon/cart.svg');
    @root-color: rgba(212, 16, 16, 0.8); /* Цвет похожий на Wildberries */
    @button-color: rgba(161, 17, 17, 0);




.navbar-pc {
	display: grid;
	grid-template-columns: auto;
	position: sticky;
	align-items: center;
	grid-template-columns: max-content auto max-content;
	grid-template-rows: auto;
	gap: 30px;
	background-color: #ff7043;
	padding: 10px 60px;
	z-index: 100;
    box-shadow: rgb(192, 191, 191) 0px 0px 10px;
    border-radius: 0 0 10px 10px;
	@media (max-width: 1023px) {
		padding: 10px 10px;
	}
}



.nav-pc-link{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    	@media (max-width: 1023px) {
		display: none;
        }
}

.nav--pc_icon {
	background-position: 50%;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	margin: 0 auto 6px;
	display: block;

}

.nav--pc_icon__delivery {
	position: relative;
	
}
.nav--pc_icon__delivery::before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-mask-position: 50%;
	mask-size: contain;
	mask-position: 50%;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: @delivery-icon;
	mask-image: @delivery-icon;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
}


.nav--pc_icon__cart {
	position: relative;
	
}
.nav--pc_icon__cart::before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-mask-position: 50%;
	mask-size: contain;
	mask-position: 50%;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: @cart-icon;
	mask-image: @cart-icon;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
}



.nav--pc_icon__profile {
	position: relative;
	
}
.nav--pc_icon__profile::before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-mask-position: 50%;
	mask-size: contain;
	mask-position: 50%;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: @profile-icon;
	mask-image: @profile-icon;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
}


.navbar__logo a {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  @media screen and (max-width: 1023px) {
    display: none;

  }
}

.navbar__search {
	display: flex;
	align-items: center;
	@media (max-width: 1023px) {
		width: 100%;
	}
}


.navbar__search input {
	border-radius: 10px;
	width: 100%;
	height: 1rem;
	font-size: 2rem;
	padding: 20px;
	background-color: white;
	@media (max-width: 1023px) {
		width: 100%;
		font-size: 1rem;
	}
}

.navbar__search button {
  padding: 6px 10px;
  border: none;
  background-color: #5a0a0a;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.navbar__menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar__menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__menu li a:hover {
  text-decoration: underline;
}



.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
}


.navbar-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @media screen and (max-width: 1023px) {
        display: flex;
        
    }
}

::ng-deep .profile-icon {
  color: #804000 !important;
}

::ng-deep .profile-icon tui-svg {
  fill: #804000 !important;
}

::ng-deep .cart-icon {
  color: #804000 !important;
  width: 100px;
  height: 100px;
}

::ng-deep .cart-icon tui-svg {
  fill: #804000 !important;
}

::ng-deep .delivery-icon {
  color: #804000 !important;
  width: 100px;
  height: 100px;
}

::ng-deep .delivery-icon tui-svg {
  fill: #804000 !important;
}


::ng-deep .home-icon {
  color: #804000 !important;
  width: 100px;
  height: 100px;
}

::ng-deep .home-icon tui-svg {
  fill: #804000 !important;
}