<div *ngIf="isMobile" class="mobile-warning">
    <div class="mobile-warning__content">
        <h1>⚠️ Доступ только с компьютера</h1>
        <p>Пожалуйста, откройте сайт на устройстве с большим экраном (десктоп).</p>
    </div>
</div>

<div class="main">
    <div class="custom-portal"><ng-container #viewContainer></ng-container></div>
    <header tuiNavigationHeader class="header-store">
        <button title="Menu" tuiIconButton tuiNavigationDrawer type="button" [(open)]="open">
            <tui-data-list>
                <tui-opt-group *ngFor="let group of drawer | keyvalue" [label]="group.key">
                    <button *ngFor="let item of group.value" tuiOption type="button" [routerLink]="item.route"
                        (click)="open = false">
                        <img alt="icon" [src]="item.icon" /> {{ item.name }}
                    </button>
                </tui-opt-group>
                <tui-opt-group>
                    <label tuiOption>
                        <input size="s" tuiSwitch type="checkbox" [(ngModel)]="darkMode" /> Тёмная тема
                    </label>
                </tui-opt-group>
            </tui-data-list>
        </button>

        <span tuiNavigationLogo>
            <tui-icon icon="@tui.home"></tui-icon>
            <span tuiFade>{{ siteName || 'CRM Portal' }}</span>
            <tui-badge>CRM</tui-badge>
        </span>

        <span tuiNavigationSegments>
            <button appearance="secondary-grayscale" tuiButton routerLink="/employees">Сотрудники</button>
            <button appearance="secondary-grayscale" tuiButton routerLink="/products">Товары</button>
            <button appearance="secondary-grayscale" tuiButton routerLink="/deliveries">Доставки</button>
        </span>

        <hr />

        <button appearance="secondary-grayscale" iconStart="@tui.plus" tuiButton type="button">Создать товар</button>
        <button iconStart="@tui.bell" tuiIconButton type="button">
            Notifications <tui-badge-notification></tui-badge-notification>
        </button>
        <button iconStart="@tui.ellipsis" tuiIconButton type="button">More</button>
        <tui-avatar src="/assets/icon/no-avatar.jpg"></tui-avatar>
    </header>

    <div class="content-wrapper" style="display:flex;">
        <aside [tuiNavigationAside]="expanded()" class="aside-store">
            <header>
                <button iconStart="@tui.home" tuiAsideItem routerLink="/store">Главная</button>
            </header>

            <a iconStart="@tui.users" tuiAsideItem routerLink="/employees">Сотрудники</a>
            <a iconStart="@tui.package" tuiAsideItem routerLink="/products">Товары</a>
            <a iconStart="@tui.truck" tuiAsideItem routerLink="/deliveries">Доставки</a>

            <tui-aside-group>
                <button iconStart="@tui.settings" tuiAsideItem tuiChevron type="button">
                    Настройки
                    <ng-template>
                        <button tuiAsideItem type="button">Аккаунт</button>
                        <button tuiAsideItem type="button">Уведомления</button>
                        <button tuiAsideItem type="button">Приватность</button>
                    </ng-template>
                </button>
            </tui-aside-group>

            <hr />
            <button iconStart="@tui.plus" tuiAsideItem>Создать товар</button>

            <footer>
                <button tuiAsideItem iconStart="{{ expanded() ? '@tui.chevron-left' : '@tui.chevron-right' }}"
                    (click)="toggleExpand()">
                    {{ expanded() ? 'Свернуть' : 'Развернуть' }}
                </button>
            </footer>
        </aside>

        <main tuiNavigationMain style="padding-top:64px; flex:1;">

        </main>
    </div>
</div>