
<app-navbar></app-navbar>

<!-- Загрузка -->
<div *ngIf="isLoading" class="loading">
  <div class="flex flex-wrap gap-4">
    <div *ngFor="let n of [].constructor(100)" class="skeleton">
      <!-- Заглушка -->
    </div>
  </div>
</div>

<!-- Карточки -->
<div *ngIf="!isLoading" class="card">
  <app-product-card
    *ngFor="let product of displayedProducts"
    [product]="product"
    (click)="goToProduct(product.id)"
  ></app-product-card>

  
</div>

<!-- Пагинация -->
<div class="pagination">
  <button
  
    [disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)"
    class="pagination__button"

  >
    Назад
  </button>

  <span class="pagination__info">Страница {{ currentPage }} из {{ totalPages }}</span>

  <button
    [disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)"
    class="pagination__button"
  >
    Вперёд
  </button>
</div>

