<app-navbar></app-navbar>

<div class="container">

  <div class="card profile-card">
    <div class="card-header">
      <div class="profile-info">
        <h1 class="title">Добро пожаловать, {{username}}!</h1>

      </div>

      <div class="avatar">
        <tui-avatar size="xxl" class="lg" src="{{avatar}}"></tui-avatar>
      </div>
    </div>

    <div class="card-body">
      <p class="description">Это ваша страница профиля.</p>
      <p class="description">Вы можете редактировать информацию о своем профиле здесь.</p>

    </div>
            <button class="btn-edit-profile" (click)="editProfile()">Редактировать профиль</button>
  </div>

  <div class="card orders-card">
    <h2 class="title orders-title">Мои последние заказы</h2>

    <div class="orders" *ngIf="recentOrders.length > 0; else noOrders">
      <app-order-card *ngFor="let order of recentOrders" [order]="order"></app-order-card>
    </div>

    <ng-template #noOrders>
      <div class="no-orders">
        <p class="description">У вас пока нет заказов 😔</p>
        <a href="/" class="btn-view-all">Перейти к покупкам</a>
      </div>
    </ng-template>

    <div class="all-orders">
      <a href="/delivery" class="btn-view-all">Смотреть все заказы</a>
    </div>
  </div>

</div>
